@import "/home/xelser/.config/waybar/gruvbox-material.css";

* {
    color: @fg0;
    border-radius: 10px;
    font-family: JetBrains Mono Medium;
}

window {
    background-color: rgba(20, 22, 23, 0.5); /* #141617 semi-transparent */;
    border: 2px solid @bg1;
    padding: 10px;
}

#input {
    background-color: rgba(40, 40, 40, 0.5); /* #282828 semi-transparent */;
    border: 1px solid @bg1;
    padding: 5px;
    margin: 10px;
}

#entry {
    padding: 6px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

#entry:selected {
    background-color: rgba(60, 56, 54, 0.5); /* #3c3836 semi-transparent */;
    border: transparent;
}

#text {
    margin-left: 8px;
}

#text:selected {
    color: @yellow;
}

:selected.focus {
    box-shadow: none;
}
