[Main]
Timeout=500
Timeout_Seconds=1
Click_Command=xfce4-taskmanager

[SL_Cpu]
Enabled=true
Use_Label=true
Color=rgb(143,240,164)
Text=cpu

[SL_Mem]
Enabled=true
Use_Label=true
Color=rgb(255,190,111)
Text=mem

[SL_Swap]
Enabled=false
Use_Label=true
Color=rgb(192,97,203)
Text=swap

[SL_Uptime]
Enabled=false

