[Main]
Timeout=500
Timeout_Seconds=1
Click_Command=xfce4-taskmanager

[SL_Cpu]
Enabled=true
Use_Label=true
Color=rgb(143,240,164)
Text=cpu

[SL_Mem]
Enabled=true
Use_Label=true
Color=rgb(249,240,107)
Text=mem

[SL_Swap]
Enabled=false
Use_Label=true
Color=rgb(240,240,0)
Text=swap

[SL_Uptime]
Enabled=false

