@import "gruvbox-material.css";

* {
	border: none;
	border-radius: 8px;
	padding: 1px 4px;
	box-shadow: inset 0 -2px transparent;

	font-family: JetBrainsMono Nerd Font;
	font-size: 13px;
	font-weight: bold;
}

window {
	color: @fg1;
	background-color: @bg_dim;
}

tooltip {
	background: @bg1;
	padding: 5px 5px;
}

tooltip label {
	color: @fg1;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
	background: @bg2;
}

#workspaces button.focused {
	color: @bg_dim;
	background-color: @fg0;
}

#workspaces button.urgent {
	color: @bg0;
	background-color: @red;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
	margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
	margin-right: 0;
}

#custom-launch{
	color: @bg_dim;
	background-color: #6f8352;
}

#cpu {
	color: @red;
}

#memory {
	color: @aqua;
}

#network {
	color: @purple;
}

#network.disconnected {
	color: @red;
}

#backlight {
	color: @yellow;
}

#pulseaudio {
	color: @green;
}

#pulseaudio.muted {
	color: @red;
}

#bluetooth {
	color: @blue;
}

#bluetooth.disabled {
	color: @bg3;
}

#clock {
	color: @orange;
}

#clock.calendar {
	color: @orange;
}

/* Power */
#power {
	color: @red;
}

#custom-shutdown {
	color: @red;
}

#custom-reboot {
	color: @green;
}

#custom-exit {
	color: @blue;
}
