@import "gruvbox-material.css";

* {
    font-family: JetBrainsMono Nerd Font;
    font-size: 13px;
    font-weight: bold;
    padding: 2px 3px;
}

window {
    color: @fg0;
    background-color: transparent;
    border-radius: 0px;
}

tooltip {
    background: @bg1;
}

tooltip label {
    color: @fg1;
    padding: 5px 5px;
}

label:focus {
    background-color: @bg_dim;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -2px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: @bg1;
}

button.focused {
    color: @yellow;
    box-shadow: inset 0px -3px @yellow;
    background-color: @bg0;
}

button.urgent {
    color: @bg0;
    background-color: @red;
}

@keyframes blink {
    to {
        background-color: @fg1;
    }
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#cpu,
#memory,
#workspaces,
#window,
#mode,
#clock,
#bluetooth,
#network,
#pulseaudio,
#backlight,
#power {
    background-color: @bg0;
    border-radius: 6px;
    padding-top: 2px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 2px;
    min-width: 22px;
}

#workspaces {
    background-color: transparent;
    box-shadow: inset 0px -3px transparent;
}

#cpu {
    color: @red;
    box-shadow: inset 0px -3px @red;
}

#memory {
    color: @blue;
    box-shadow: inset 0px -3px @blue;
}

#network {
    color: @purple;
    box-shadow: inset 0px -3px @purple;
}

#backlight {
    color: @yellow;
    box-shadow: inset 0px -3px @yellow;
}

#pulseaudio {
    color: @green;
    box-shadow: inset 0px -3px @green;
}

#bluetooth {
    color: @blue;
    box-shadow: inset 0px -3px @blue;
}

#clock {
    color: @aqua;
    box-shadow: inset 0px -3px @aqua;
}

#clock.calendar {
    color: @orange;
    box-shadow: inset 0px -3px @orange;
}

#power {
    color: @red;
}

#custom-shutdown {
    color: @red;
}

#custom-reboot {
    color: @green;
}

#custom-exit {
    color: @blue;
}

#battery {
    background-color: @blue;
}

#battery.charging, #battery.plugged {
    background-color: @green;
}


#battery.critical:not(.charging) {
    background-color: @red;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/*
window#waybar.empty {
background-color: transparent;
}
window#waybar.solo {
background-color: #FFFFFF;
}
window#waybar.hidden {
opacity: 0.2;
}
 */
